
@font-face {
    font-family: 'darkSouls';
    /*? Liver Server OFF */
    src: url('./font/Optimus-Princeps-Font/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'darkSoulsBold';
    /*? Liver Server OFF */
    src: url('./font/Optimus-Princeps-Font/OptimusPrincepsSemiBold.ttf');
    font-weight: bold;
    font-style: bold;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
img , figure{
    max-width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}
body, html{
    font-family: 'darkSouls';
    background-color: #000000;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
/***********************************/
.sec1, .sec2, .sec3, .sec4, .footer{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption, .caption1, .caption2{
    position: absolute;
    text-align: justify;
    font-size: 1.5vw;
    text-shadow: #ec9633 0 0 5px;
    color: #f0eaf2;

    background-color: #0000004b;
    padding: 0.5em;
    border-radius: 0.2em;
}
.figure{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-self: center;
    width: 98%;
    gap: 0.5vw;
}
/***********************************/
.sec1{
    background-image: url(./img/1.png);
    min-height: 100%;
}
.sec1 .caption{
    top: 15%;
    left: 5%;
    width: 55vw;
    font-size: 2vw;
}
/***********************************/
.div1{
    position: relative;
    background-image: url(./img/2.png);
    min-height: 100%;
    display: grid;
    /* border: 1px solid #513D34; */
}
.div1 .caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 10vw;
    font-size: 1.5vw;
}
/***********************************/
.sec2{
    background-image: url(./img/7.png);
    min-height: 100%;
    display: grid;
}
.sec2 .caption{
    position: relative;
    width: 40vw;
    margin: auto;
    grid-column: 1/4;
    grid-row: 3;
    background-color: #0000008c;
}
.sec2 .img{
    border-radius: 10px;
    box-shadow:  #ec9633 0 0 15px;
}
.sec2 .img-last{
    grid-column: 3;
}
/***********************************/
.div2{
    position: relative;
    background-image: url(./img/8.png);
    min-height: 100%;
}
.div2 .caption{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80vw;
    text-align: center;
}
/***********************************/
.sec3{
    background-image: url(./img/9.png);
    min-height: 100%;
}
.sec3 .caption{
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80vw;
    text-align: center;
}
.sec3 .img{
    position: absolute;
    top: 4%;
    left: -35%;
    width: 40vw;
    height: 20vw;
    border-radius: 10px;
    box-shadow:  #ec9633 0 0 15px;
}
/***********************************/
.div3{
    position: relative;
    background-image: url(./img/11.png);
    min-height: 100%;
}
.div3 .caption{
    position: absolute;
    bottom: 2%;
    margin: 2vw;
}
/***********************************/
.sec4{
    background-image: url(./img/14.png);
    min-height: 100%;
}
.sec4 .caption{
    position: absolute;
    top: 60%;
    left: 25%;
    width: 40vw;
}
/***********************************/
.footer{
    background-image: url(./img/14.png);
}
.footer .footer-div{
    display: grid;
    place-items: center;
    padding: 1em 18vw;
    grid-template-columns: repeat(auto-fit, minmax( min(150px), 1fr));
}
.footer .a{
    padding: 0 2vw;
    font-size: 1.5em;
    text-shadow:  #ec9633 0 0 5px;
    color: #f0eaf2;
    border-bottom: 1px groove #513D34;
}
.footer .a:hover{
    border-radius: 1px;
    background-color: #5A290B;
    border-bottom: 0;
    transition: 0.5s;
}
