
@font-face {
    font-family: 'darkSouls';
    /*? Liver Server OFF */
    src: url('font/Optimus-Princeps-Font/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'darkSoulsBold';
    /*? Liver Server OFF */
    src: url('font/Optimus-Princeps-Font/OptimusPrincepsSemiBold.ttf');
    font-weight: bold;
    font-style: bold;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
img , figure{
    max-width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}
body {
    font-family: 'darkSouls';
    background-color: #000000;
}
/***********************************/
.main{
    display: grid;
    place-items: center;
}
.main .img{
    margin: auto;
    width: 100vw;
    height: 47vw;
}   
.main .caption{
    position: absolute;
    text-align: justify;
    width: 45vw;
    font-size: 1.5vw;
    text-shadow: #ec9633 0 0 5px;
    color: #f0eaf2;

    background-color: #0000004b;
    padding: 0.5em;
    border-radius: 0.2em;
}
.antigua{
    background-color: #335eec9f;
}
.antigua .figure{}
.antigua .img{}
.antigua .caption{
    top: 10%;
    left: 5%;
}

.oscura{
    background-color: #33d6ec9f;
}
.oscura .figure{}
.oscura .img{}
.oscura .caption{
    top: 140%;
    left: 10%;
    width: 75vw;
}

.fuego{
    background-color: #ec963396;
}
.fuego .figure{}
.fuego .img{}
.fuego .caption{
    top: 220%;
    left: 25%;
}



/***********************************/
.footer{
    position: relative;
}
.footer .div{
    display: grid;
    place-items: center;
    padding: 1em 18vw;
    grid-template-columns: repeat(auto-fit, minmax( min(150px), 1fr));
}
.footer .a{
    padding: 0 2vw;
    font-size: 1.5em;
    text-shadow:  #ec9633 0 0 5px;
    color: #f0eaf2;
    border-bottom: 1px groove #513D34;
}
.footer .a:hover{
    border-radius: 1px;
    background-color: #5A290B;
    border-bottom: 0;
}