:root{
}
/***********************************/
@font-face {
    font-family: 'darkSouls';
    /*? Liver Server OFF */
    src: url('font/Optimus-Princeps-Font/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'darkSoulsBold';
    /*? Liver Server OFF */
    src: url('font/Optimus-Princeps-Font/OptimusPrincepsSemiBold.ttf');
    font-weight: bold;
    font-style: bold;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
img , figure{
    max-width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}
h1, h2, h3, h4 {
}
p{
}
a{
    text-decoration: none;
}
html{
    /* overflow-x: hidden; */
}
body {
    font-family: 'darkSouls';
}
/***********************************/
.intro{
    position: fixed;
    top: 0%;
    bottom: 0%;
    display: grid;
    background-color: #140e15;
    z-index: 10;
}
.intro .figure{
    display: flex;
    flex-flow: column;
    margin: auto;
}
.intro .svgLogo{
    width: 100vw;
    stroke: #ec9633;
    stroke-opacity: 0.5;
}
.intro .caption{
    font-size: 2.5vw;
    text-shadow:  #ec9633 0 0 5px;
    margin: 0 auto;
    text-align: center;
    color: #f0eaf2;
}
.intro .p{
    font-size: 1.2vw;
    text-shadow:  #ec9633 0 0 5px;
    margin: 3em auto;
    text-align: center;
    color: #f0eaf2;
}
/***********************************/
.main{
}
.main .div{
    height: 100%;
    overflow: hidden;
}
.main .figure{
    display: grid;
    place-items: center;
}
.main .img{
    object-view-box: inset(11% 0% 0% 0%);
}
.main .caption{
    position: absolute;
    top: 21vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3.5vw;
    color: #f0eaf2;
    text-shadow:  #ec9633 0 0 5px;
}
.main .fire{
    position: absolute;
    top: 41vw;
    left: 50%;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff00ff;
}
@media screen and (max-width: 1200px) {
    .main .div{
        height: 92vw;
    }
    .main .img{
        height: 200%;
        object-view-box: inset(-11% 0% 0% 0%);
    }
    .main .caption{
        top: 35vw;
        font-size: 5.5vw;
        white-space: nowrap;
    }
    .main .fire {
        top: 75vw;
    }
    @media screen and (max-width: 900px) {
        .main .div{
            height: 134vw;
        }
        .main .img{
            height: 300%;
            object-view-box: inset(-22% 0% 0% 0%);
        }
        .main .caption{
            top: 50vw;
            font-size: 7vw;
            white-space: nowrap;
        }
        .main .fire {
            top: 110vw;
        }
    }
}
/* 
!gradientes
background: rgb(13,11,7);
background: linear-gradient(90deg, rgba(9,8,4,1) 0%, rgba(103,73,47,1) 51%, rgba(9,8,4,1) 100%);
background: radial-gradient(circle, rgba(9,8,4,1) 0%, rgba(103,73,47,1) 51%, rgba(9,8,4,1) 100%);
background: radial-gradient(circle, rgba(9,8,4,1) 0%, rgba(103,73,47,1) 0%, rgba(103,73,47,1) 2%, rgba(9,8,4,1) 100%);
*/
.content{
    height: 500px;
    display: flex;
    background: rgb(13,11,7);
    background: linear-gradient(90deg, rgba(9,8,4,1) 0%, rgba(103,73,47,1) 51%, rgba(9,8,4,1) 100%);
}
.content .p{
    margin: auto;
    width: 50vw;
    font-size: 2vw;
    color: #ec9633;
    text-align: center;
}



.footer{}
.footer .div{}




/* body { 
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url(https://images2.alphacoders.com/895/895681.jpg);
    background-size: 100%;
    background-attachment: fixed;    
    text-align: center; 
}
.caja{
    padding: 10px;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.096), rgb(255, 157, 52, 0.096));
    text-align: justify;    
    border-radius: 4px;
    width: 600px;
}
#espacio{
    padding: 300px;
}
a{
    background-color: rgba(255, 157, 52, 0.274);
    padding: 3px;
    border: solid 1px;
    border-radius: 3px;
    transition: 0.3s;
}
a:link{
    color: rgb(255, 157, 52);
}
a:visited{
    color: rgb(0, 0, 0)
}
a:hover{
    transform: scale(3, 3);
    color: azure;
    background-color: rgb(255, 157, 52, 0.096);
}
a:active{
    color: rgb(201, 90, 0);
} */
