@font-face {
    font-family: 'darkSouls';
    /*? Liver Server OFF */
    src: url('font/Optimus-Princeps-Font/OptimusPrinceps.ttf');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'darkSoulsBold';
    /*? Liver Server OFF */
    src: url('font/Optimus-Princeps-Font/OptimusPrincepsSemiBold.ttf');
    font-weight: bold;
    font-style: bold;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
img , figure{
    max-width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}
body {
    font-family: 'darkSouls';
    background-color: #000000;
}
/***********************************/
.intro{
    position: fixed;
    top: 0%;
    bottom: 0%;
    display: grid;
    background-color: #140e15;
    z-index: 10;
}
.intro .figure{
    display: flex;
    flex-flow: column;
    margin: auto;
}
.intro .svgLogo{
    width: 100vw;
    stroke: #ec9633;
    stroke-opacity: 0.5;
}
.intro .caption{
    margin: 0 auto;
    text-align: center;
    font-size: 2.5vw;
    text-shadow:  #ec9633 0 0 5px;
    color: #f0eaf2;
}
.intro .p{
    font-size: 1.2vw;
    text-shadow:  #ec9633 0 0 5px;
    margin: 3em auto;
    text-align: center;
    color: #f0eaf2;
}
/***********************************/
.main .div{
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 8px #CA9F72;
    margin-bottom: 2px;
}
.main .figure{
    display: grid;
    place-items: center;
}
.main .img{
    object-view-box: inset(11% 0% 0% 0%);
}
.main .caption{
    position: absolute;
    top: 21vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3.5vw;
    color: #f0eaf2;
    text-shadow:  #ec9633 0 0 5px;
}
.main .fire{
    position: absolute;
    top: 41vw;
    left: 50%;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff00ff;
}
/***********************************/
.section{
    background-image: url('https://images3.alphacoders.com/154/154277.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 130%;
    background-position: 0% 20%;
}
.content{
    position: relative;
    display: grid;
    width: 44%;
    height: 100%;
    margin: auto 1vw;
    padding: 4vw;
    gap: 3vw;
}
.content .p{
    text-align: justify;
    width: 35vw;
    font-size: 1.5vw;
    text-shadow:  #ec9633 0 0 5px;
    color: #f0eaf2;
    
    background-color: #0000004b;
    padding: 0.5em;
    border-radius: 0.2em;
}
.content .empty{
    width: 0;
    height: 0;
}
.content .video{
    width: 35vw;
    height: 20vw;
}
/***********************************/
.footer{
    position: relative;
}
.footer .div{
    display: grid;
    place-items: center;
    padding: 1em 18vw;
    grid-template-columns: repeat(auto-fit, minmax( min(150px), 1fr));
}
.footer .a{
    padding: 0 2vw;
    font-size: 1.5em;
    text-shadow:  #ec9633 0 0 5px;
    color: #f0eaf2;
    border-bottom: 1px groove #513D34;
}
.footer .a:hover{
    border-radius: 1px;
    background-color: #5A290B;
    border-bottom: 0;
}
/***********************************/
@media screen and (max-width: 1200px) {
    .main .div{
        height: 92vw;
    }
    .main .img{
        height: 200%;
        object-view-box: inset(-11% 0% 0% 0%);
    }
    .main .caption{
        top: 35vw;
        font-size: 5.5vw;
        white-space: nowrap;
    }
    .main .fire {
        top: 75vw;
    }
    .section{
        height: 85vw;
        background-size: 170%;
        background-position: 20% 50%;
    }
    .content .p{
        width: 40vw;
        height: fit-content;
        font-size: 1.7vw;
    }
    .content .video{
        width: 40vw;
        height: 23vw;
    }
    .footer{
        bottom: 5.5em;
    }
    @media screen and (max-width: 900px) {
        .main .div{
            height: 134vw;
        }
        .main .img{
            height: 300%;
            object-view-box: inset(-22% 0% 0% 0%);
        }
        .main .caption{
            top: 50vw;
            font-size: 7vw;
            white-space: nowrap;
        }
        .main .fire {
            top: 110vw;
        }
        .section{
            background-color: aqua;
            height: 150vw;
            background-size: 300%;
            background-position: 45% 100%;
        }
        .content{
            width: 99%;
            place-items: center;
            bottom: 20vw;
            gap: 0;
            padding: 11vw;
        }
        .content .empty{
            width: 100%;
            height: 15vw;
        }
        .content .p{
            width: 100%;
            font-size: 3vw;
        }
        .content .video{
            width: 100%;
            height: 50vw;
        }
        .footer{
            bottom: 34vw;
        }
    }
}